@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  background-color: black;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Keyframes for spinning animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Class to be applied to your SVG element */
.svg-spin {
  /* Smooth transition for transform property */
  transition: transform 0.5s ease-out;
}

.svg-spin:hover {
  /* Apply the animation on hover with ease-in-out */
  animation: spin 2s ease-in-out infinite;
}

